{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div class="stuff">
            <div class="about-me">
              Hello! My name is John Palgut and I am a software developer. I recenlty married my best friend, Jesyka Palmer,
              and we currently live with our two cats in Austin, TX.
              <br />
              I enjoy building things, solving interesting problems, and learning about cool new technogy.
              <br />
              I'm an avid gamer in my spare time, particularly when it comes to DOTA 2.
            </div>
            {{ partial "pagination.html" . }}
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>

{{ partial "analytics.html" . }}
</body>
</html>
